<form action="{% url "polls:vote" quest.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Question is:<br/><h1>{{ quest.quest_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in quest.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>